body {
    background-color: beige;
}

.jumbotron {
    color:hsl(143, 57%, 69%);
    background-image: url('myself.jpg');
    padding-top:30%;
    padding-bottom:30%;
}

h1 {
    text-align: center;
    color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
}

.col-sm-6 {
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkcyan;
}

p {
    text-align: center;
}

th {
    background-color: rgb(177, 209, 230);
    color:beige;
}

td {
    color:rgb(131, 173, 131)
}

.dog {
    width: 250px;
    height:200px;
}

img {
   width: 225px;
   height: 250px;
}